.body {
  position: absolute;
  background-color: #47444a;
  top: 20%;
  left: 35%;
  width: 25%;
  height: 65%;
  border-radius: 5%;
  border: 2px solid;
}

.circle {
  position: absolute;
  background-color: #ed6a5f;
  top: 2%;
  left: 3%;
  width: 4%;
  height: 4%;
  border-radius: 100%;
}

.circle1 {
  position: absolute;
  background-color: #f1a94c;
  top: 2%;
  left: 11%;
  width: 4%;
  height: 4%;
  border-radius: 100%;
}

.circle2 {
  position: absolute;
  background-color: green;
  top: 2%;
  left: 19%;
  width: 4%;
  height: 4%;
  border-radius: 100%;
}

.bottum {
  position: absolute;
  background-color: #59565c;
  top: 34%;
  width: 25%;
  height: 12.5%;
  border: 1px solid;
  text-align: center;
}

.bottum1 {
  position: absolute;
  background-color: #59565c;
  top: 34%;
  width: 25%;
  height: 12.5%;
  left: 25%;
  border: 1px solid;
  text-align: center;
}

.bottum2 {
  position: absolute;
  background-color: #59565c;
  top: 34%;
  width: 25%;
  height: 12.5%;
  left: 50%;
  border: 1px solid;
  text-align: center;
}

.bottum3 {
  position: absolute;
  background-color: orange;
  top: 34%;
  width: 24.5%;
  height: 12.5%;
  left: 75%;
  border: 1px solid;
  text-align: center;
}

.bottum4 {
  position: absolute;
  background-color: #747277;
  top: 47%;
  width: 25%;
  height: 12.5%;
  border: 1px solid;
  text-align: center;
}

.bottum5 {
  position: absolute;
  background-color: #747277;
  top: 47%;
  width: 25%;
  height: 12.5%;
  left: 25%;
  border: 1px solid;
  text-align: center;
}

.bottum6 {
  position: absolute;
  background-color: #747277;
  top: 47%;
  width: 25%;
  height: 12.5%;
  left: 50%;
  border: 1px solid;
  text-align: center;
}

.bottum7 {
  position: absolute;
  background-color: orange;
  top: 47%;
  width: 24.5%;
  height: 12.5%;
  left: 75%;
  border: 1px solid;
  text-align: center;
}

.bottum8 {
  position: absolute;
  background-color: #747277;
  top: 60%;
  width: 25%;
  height: 12.5%;
  border: 1px solid;
  text-align: center;
}

.bottum9 {
  position: absolute;
  background-color: #747277;
  top: 60%;
  width: 25%;
  height: 12.5%;
  left: 25%;
  border: 1px solid;
  text-align: center;
}

.bottum10 {
  position: absolute;
  top: 60%;
  background-color: #747277;
  width: 25%;
  height: 12.5%;
  left: 50%;
  border: 1px solid;
  text-align: center;
}

.bottum11 {
  position: absolute;
  background-color: orange;
  top: 60%;
  width: 24.5%;
  height: 12.5%;
  left: 75%;
  border: 1px solid;
  text-align: center;
}

.bottum12 {
  position: absolute;
  background-color: #747277;
  top: 73%;
  width: 25%;
  height: 12.5%;
  border: 1px solid;
  text-align: center;
}

.bottum13 {
  position: absolute;
  background-color: #747277;
  top: 73%;
  width: 25%;
  height: 12.5%;
  left: 25%;
  border: 1px solid;
  text-align: center;
}

.bottum14 {
  position: absolute;
  background-color: #747277;
  top: 73%;
  width: 25%;
  height: 12.5%;
  left: 50%;
  border: 1px solid;
  text-align: center;
}

.bottum15 {
  position: absolute;
  background-color: orange;
  top: 73%;
  width: 24.5%;
  height: 12.5%;
  left: 75%;
  border: 1px solid;
text-align: center;
}

.bottum16 {
  position: absolute;
  top: 86%;
  background-color: #747277;
  width: 50%;
  height: 13.5%;
  left: 0%;
  border: 1px solid;
  border-radius: 0px 0px 0px 18px;
  text-align: center;
}

.bottum17 {
  position: absolute;
  background-color: #747277;
  top: 86%;
  width: 25%;
  height: 13.5%;
  left: 50%;
  border: 1px solid;
  text-align: center;
}

.bottum18 {
  position: absolute;
  background-color: orange;
  top: 86%;
  width: 24.5%;
  height: 13.5%;
  left: 75%;
  border: 1px solid;
  border-radius: 0px 0px 18px 0px;
  text-align: center;
}

h2 {
  position: relative;
  color: #e9e8e9;
  font-weight: 500;
  font-size: 260%;
  margin:15px auto;
}
h1 {
  position: absolute;
  color: #e9e8e9;
  right: 5%;
  top: -2%;
  font-size: 800%;
  font-weight:10;
  font-family: "Georgia", serif;
}
