/* calculator body properties */
.body {
  position: absolute;
  background-color: #47444a;
  top: 20%;
  left: 35%;
  width: 25%;
  height: 65%;
  border-radius: 5%;
  border: 2px solid;
}
h2 {
  position: absolute;
  color: black;
  font-weight:bold;
  font-size: 200%;
  left: 36%;
  top: 10%;
}
/* taskbar navigation properties of three cirle bottun*/
.taskbar {
  position: absolute;
  top: 2%;
  left: 3%;
  height: 20%;
  width: 40%
}

.taskbar button {
  border-radius: 100%;
  width: 10%;
  height: 20%;
  border-width: 0px;
  margin-left: 10px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
/* calculator screen */

.screen {
  width: 100%;
  height: 34%;
}

h1 {
  position: absolute;
  color: #e9e8e9;
  right: 5%;
  top: -2%;
  font-size: 800%;
  font-weight: 10;
  font-family: "Georgia", serif;
}
/* button display properties of numbers, editors and operators*/
.number {
  position: absolute;
  top: 34%;
  width: 75%;
  height: 65%;
}
.operators{
  position: absolute;
  top: 34;
  width: 25%;
  height: 65%;
  left: 75%;
}
.bottun {
  background-color: #747277;
  width: 32%;
  height: 20%;
  color: #e9e8e9;
  font-weight: 500;
  font-size: 260%;
}

.large_bottun {
  background-color: #747277;
  width: 65%;
  height: 20%;
  color: #e9e8e9;
  font-weight: 500;
  font-size: 260%;
  border-radius: 0px 0px 0px 18px;
}
.edge {
  border-radius: 0px 0px 18px 0px;
}
.editors{
  background-color: #59565c;
  color: #e9e8e9;
  font-weight: 500;
  font-size: 260%;
}
.bottun-operators {
  background-color: orange;
  width: 100%;
  height: 20%;
  color: #e9e8e9;
  font-weight: 500;
  font-size: 260%;
}
